<% if notice %>

<p id="notice"><%= notice %></p>
<% end %>


<h2>Your Cart</h2>
<table>
  <% @cart.line_items.each do |car| %>
  <tr>
    <td><%= car.quantity %> &times; </td>
    <td><%= car.product.title %></td>
    <td class="item_price"><%= number_to_currency(car.total_price) %></td>
  </tr>
  <% end  %>
  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>


<%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: 'Are You Sure?' }  %>